
#nav ul {
	list-style-type: none;
	margin-bottom: 1em;
	padding: 0;
	overflow: hidden;
	background: #82c6ec;

	/*position: fixed;
	top: 0;
	width: 100%;*/
}

#nav ul li {
	float: right;
	border-left: 1px solid white;
}

#nav ul li a:hover {
	background-color: #a1e6ef;
}

#nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}
